.bloky {
    padding: 5px;
    margin: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    max-height: 1000px;
    min-height: 100px;
    max-height: 5000px;
    min-width: 50px;
    vertical-align: top;
    background-color: white;
}

.poznamka {
    width: 100px;
    height: 100px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    overflow: scroll;
}

.blokyy {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.blok {
    border-width: 3px;
    border-style: solid;
    border-color: red;
    width: 100%; 
}

.pozice-rel {
    border-width: 3px;
    border-style: solid;
    border-color: blue;
    position: relative;
    top: 250px;
    left: 50px;
    right: 100px;
    clear: left; 
}

.pozice-abs {
    border-width: 3px;
    border-style: solid;
    border-color: green;
    background-color: red;
    position: absolute;
    top: 250px;
    left: 50px;
    right: 100px; 
    z-index: -1;
}

.obtekani {
    border-width: 3px;
    border-style: solid;
    border-color: yellow; 
}

.obtekani img {
    float: left;
}

