html {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

.header {
    background-color: bisque;
    border: 3px solid white;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.header h1 {
    font-size: 40pt;
}

.body {
    background-color: bisque;
    border: 3px solid white;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.sloupec {
    display: inline-block;
    width: 500px;
    text-align: justify;
    padding: 10px;
}

.body h1 {
    font-style: italic;
}

.sloupec a {
    color: red;
    text-align: center;
    display: block;
}

.footer {
    background-color: bisque;
    border: 3px solid white;
    margin: 5px;
    padding: 5px;
    font-style: italic;
}