p
{
    color: #44a255;
    background-color: azure;
    font-size: 10px;
    font-family: serif;
}

h3
{
    color: azure;
    background-color: black;
    font-size: 2em;
    font-family: sans-serif;
}

#hlav_nadpis
{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: chocolate;
}

.moje_trida 
{
    font-size: 15px;
}