p
{
    color: #44a255;
    background-color: azure;
    font-size: 10px;
    font-family: serif;
    text-align: justify;
    line-height: 1.5;
    text-indent: 20px;
}

h3
{
    color: azure;
    background-color: black;
    font-size: 2em;
    font-family: sans-serif;
    text-decoration: line-through;
    letter-spacing: 5px;
}

#hlav_nadpis
{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: chocolate;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 5px 5px 3px black;
}

.moje_trida 
{
    font-size: 15px;
}