body {
    background-color: lightgray;
}

.strom {
    display: inline-block;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
    padding: 10px;
    margin: 5px;
    background-color: white;
    height: 500px;
}

.popis {
    width: 50%;
    display: inline-block;
    margin: 3px 0px;
}

.hodnota {
    display: inline-block;
    margin: 3px 0px;
    font-style: italic;
}

.nazev {
    font-weight: bold;
    font-size: 16pt;
}

img {
    display: block;
    margin: 5px;
}