body {
    background-color: lightgray;
}

.strom {
    background-color: white;
    width: 350px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid gray;
    margin: 5px;
    padding: 15px;
    line-height: 1.5;
}

.popis {
    width: 50%;
    display: inline-block;
}

.strom img {
    margin: 5px;
}

.nazev {
    font-size: large;
    font-style: italic;
    font-weight: bold;
}