#box {
    position: absolute;
    top: 250px;
    left: 250px;
    width: 250px;
    height: 250px;
    background-color: blue;
    transition: all 5s;
    transition-delay: 3s;
}

#box:hover {
    background-color: green;
    width: 500px;
    
}