body {
    background-color: lightgray;
}

.strom {
    border: 1px solid black;
    display: inline-block;
    height: 500px;
    vertical-align: top;
    line-height: 150%;
    padding: 20px 15px;
    margin: 3px;
    background-color: white;
    font-family: Calibri,Arial, Helvetica, sans-serif
}

.hodnota {
    font-style: italic;
}

.nazev {
    font-weight: bold;
    font-size: larger;
}

.popis {
    width: 50%;
    display:inline-block
}

.strom img {
    margin-top: 5px;
    display: block;
}