.item1 {

    grid-area: header;

  }

  .item2 {

    grid-area: menu;
  }

  .item3 {

    grid-area: main;
  }

  .item4 {

    grid-area: ads;
  }

  .item5 {

    grid-area: foot;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.grid-container {
    display: grid;
    background-color: #2196F3;
    padding: 10px;
    gap: 10px;
    grid-template-areas: 
    'header header header header'
    'menu main main main'
    'menu main main ads'
    'foot foot foot foot';
  }


