@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
        color: red;
    }
    p {
        font-size: 15px;
        color: red;
    }
}

@media only screen and (max-width: 1000px) and (min-width:600px) {
    h1 {
        font-size: 30px;
        color: blue;
    }
    p {
        font-size: 15px;
        color: blue;
    }
}


h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
}