p {
    color: rgb(0, 234, 255);
    font-size: 15 pt;
    background-color: black;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
    text-indent: 10px;
}

h1 {
    color: #dd00ff;
    background-color: black;
    font-size: 50px;
    font-family: 'Times New Roman', serif;
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 3px 2px white;
    letter-spacing: 5px;
}

#nadpis_druhy {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#poznamka {
    font-size: 10pt;
    color: red;
}

.trida_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: deeppink;
}

ol {
    list-style-type: upper-roman;
    list-style-position: inside;

}

ul {
  list-style-image: url(../palec.jpg); 
}