p {
    color: rgb(0, 234, 255);
    font-size: 15 pt;
    background-color: black;
    font-family: Arial, sans-serif;
}

h1 {
    color: #dd00ff;
    background-color: black;
    font-size: 50px;
    font-family: 'Times New Roman', serif;
}