table {
    border-collapse: collapse;
    
  }

  td, th {
    border: 1px solid black;
    padding: 2px 4px;
  }

  * {
    color: white;
    background-color: black;
  }

  p {
    color: rgb(245,245,245);
    font-family: Georgia, serif 10pt;
}

h1, h2, h3 {
    color: #FFD700;
    font-family: 'Gill Sans', Calibri, sans-serif;
}

a {
    color: tomato;
}

#uvod {
    text-transform: uppercase;
}

.kroky {
    font-size: small;
    font-style: italic;
}

li a {
    font-style: italic;
    font-weight: bold;
}

ul li {
    font-weight: bold;
}