table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: bottom;
  }

  td, th {
    border: 1px solid black;
    padding: 2px 4px;
  }

  * {
    color: white;
    background-color: black;
  }

  p {
    color: rgb(245,245,245);
    font-family: Georgia, serif 10pt;
    line-height: 130%;
    text-align: justify;
    text-indent: 2.5em;
}

h1, h2, h3 {
    color: #FFD700;
    font-family: 'Gill Sans', Calibri, sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-shadow: 1px 2px gray;
}

a {
    color: tomato;
}

#uvod {
    text-transform: uppercase;
}

.kroky {
    font-size: small;
    font-style: italic;
}

li a {
    font-style: italic;
    font-weight: bold;
}

ul li {
    font-weight: bold;
}

ul p {
    text-indent: 0;
}

ol p {
    text-indent: 0;
    }

#ukazka {
    text-decoration: underline;
}

.popisek {
    font-style: italic;
}

.popisek em {
    font-weight: bold;
}

ul {
    line-height: 1.25;
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
    line-height: 1.25;
}

th {
    border: 3px solid white;
}

#t-nadpisy {
    border-bottom: 3px solid white;
    text-align: center;
}