#galerie {
    display: grid;
    grid-template-columns: 1200px 1200px 1200px;
    gap: 10px;
    justify-content: center;
}

img{
    width: 1200px;
    height: 1000px;
    transition: all 2s;
}

img:hover {
    transform: scale(1.5);
}

#most {
    grid-row: 1/3;
    height: 2000px;
}

#krajina {
    grid-column: 1/3;
    grid-row: 3/5;
    width: 2400px;
    height: 2000px;
}