* {
    background-color: black;
    color: white;
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: bottom;
  }

td, th {
    border: 1px solid black;
    padding: 2px 4px;
  }

p {
    color: rgb(245,245,245);
    font-family: Georgia, serif 10pt;
    line-height: 130%;
    text-align: justify;
    text-indent: 2.5em;
}

ol p, ul p {
    text-indent: 0;
}

h1, h2, h3 {
    color: #FFD700;
    font-family: 'Gill Sans', 'Calibri', sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-shadow: 1px 2px grey;
}

a {
    color: tomato;
}

#uvod {
    text-transform: uppercase;
}

.kroky {
    font-style: italic;
    font-size: small;
}

li a {
    font-weight: bold;
    font-style: italic;
}

ul li {
    font-weight: bold;
}

#ukazka {
    text-decoration: underline;
}

.popisek {
    font-style: italic;
}

.popisek em {
    font-weight: bold;
}

ol {
    line-height: 1.25;
    list-style-type: upper-roman;
}

ul {
    line-height: 1.25;
    list-style-type: square;
}

th {
    border: 3px solid red;
}

#t-nadpis {
    border-bottom: 3px solid red;
}