table {
    border-collapse: collapse;
    text-align: center;
  }

td, th {
    border: 1px solid black;
    padding: 2px 4px;
  }

* {
    color:white;
    background-color: black;
}

p {
    color: rgb(245,245,245);
    font-family: Georgia, serif 10pt;
    line-height: 130%;
    text-align: justify;
    text-indent: 2.5em;
}

h1, h2, h3 {
    color: #ffd700;
    font-family: 'Gill Sans', 'Calibri', sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-shadow: 1px 2px grey;
}

a {
    color: tomato;
}

#uvod {
    text-transform: capitalize;
}

.kroky {
    font-size: small;
    font-style: italic;
}

li a {
    font-style: italic;
    font-weight: bold;
}

ul {
    font-weight: bold;
}

li p {
    text-indent: 0;
}

#ukazka {
    text-decoration: underline;
}

.popisek {
    font-style: italic;
}

.popisek em {
    font-weight: bold;
}