html {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

.body {
    background-color: bisque;
}

.header {
    background-color: bisque;
}

.footer {
    background-color: bisque;
}