body {
    background-color: bisque;
    font-family: Helvetica;
}

#page {
    background-color: white;
    width: 1100px;
    margin: 0 auto;
    border: 1px solid black;
}

header {
    border-bottom: 1px solid black;
    text-align: center;
}

#central nav, aside {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    padding: 5px;
}

main {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 450px;
}

aside {
    overflow: auto;
}

footer {
    color: gray;
    font-style: italic;
    font-size: small;
    text-align: center;
    background-color: white;
    border-top: 1px solid black;
    margin: 0;
}